<div class="container">
  <ng-container *ngIf="planets$ | async as planets">
    <ng-container *ngIf="planets.length !== 0; else spinner">
      <div class="search-container my-3">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputSearch" class="col-form-label">Search</label>
          </div>
          <div class="col-auto">
            <input
              type="search"
              id="inputSearch"
              class="form-control"
              aria-labelledby="searchHelpInline"
              [formControl]="queryFormControl"
            />
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <a
          *ngFor="let planet of planets"
          [routerLink]="[planet.id]"
          class="list-group-item list-group-item-action"
          >{{ planet["name"] }}</a
        >
      </div>
      <div class="pagination-container">
        <app-pagination
          *ngIf="paginationData$ | async as paginationData"
          [totalPages]="paginationData.totalPages"
          [currentPage]="paginationData.currentPage"
          (selectedPage)="page$.next($event)"
        ></app-pagination>
      </div>
    </ng-container>
    <ng-template #spinner>
      <div class="spinner-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
