<ng-container *ngIf="planets$ | async as planets">
  <div class="list-group list-group-flush">
    <a
      *ngFor="let planet of planets"
      [routerLink]="[planet.id]"
      class="list-group-item list-group-item-action"
      >{{ planet["name"] }}</a
    >
  </div>
</ng-container>
<app-pagination
  *ngIf="paginationData$ | async as paginationData"
  [totalPages]="paginationData.totalPages"
  [currentPage]="paginationData.currentPage"
  (selectedPage)="page$.next($event)"
></app-pagination>
