<div class="container">
  <div class="search-container my-3">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="inputSearch" class="col-form-label">Search</label>
      </div>
      <div class="col-auto">
        <input
          type="search"
          id="inputSearch"
          class="form-control"
          aria-labelledby="searchHelpInline"
          [formControl]="queryFormControl"
        />
      </div>
      <div class="col-auto spinner-container">
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="pending$ | async"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="planets$ | async as planets">
    <ng-container
      *ngIf="planets.length !== 0 || (pending$ | async); else noResults"
    >
      <div class="list-group list-group-flush">
        <a
          *ngFor="let planet of planets"
          [routerLink]="[planet.id]"
          class="list-group-item list-group-item-action"
          >{{ planet["name"] }}</a
        >
      </div>
      <div
        class="pagination-container"
        *ngIf="paginationData$ | async as paginationData"
      >
        <app-pagination
          *ngIf="paginationData.totalPages !== 0"
          [totalPages]="paginationData.totalPages"
          [currentPage]="paginationData.currentPage"
          (selectedPage)="page$.next($event)"
        ></app-pagination>
      </div>
    </ng-container>
    <ng-template #noResults>
      <div class="no-results-container">
        <span>No results...</span>
      </div>
    </ng-template>
  </ng-container>
</div>
